html {
    background : URL de la zone de contenu (https://image.noelshack.com/fichiers/2020/07/1/1581323637-web-1920-14.jpg)
}


. perror {
    marge supérieure : 570 px ; position : absolue; marge gauche : 65 px
}

corps {

    font-family : 'Open Sans' , sans-serif;

    poids de la police : 500 ;

    couleur : # ffff ;

}

. info  p {

    text-align : centre;

    couleur : # 999 ;

    text-transform : aucun;

    poids de la police : 600 ;

    taille de la police : 15 px ;

    margin-top : 2 px

}




. info  i {

    couleur : # 55acee ;

}




h1 {

    text-align : centre;

    couleur : # 666 ;

    ombre de texte : 1 px  1 px  0 px  # FFF ;

    marge : 50 px  0 px  0 px  0 px ;

}




h2 {

    taille de la police : 20 px ;

    poids de la police : 600 ;

}




h3 {

    taille de la police : 17 px ;

    poids de la police : 600 ;

}




a {

    texte-décoration : hériter;

    couleur : hériter;

}




a : hover {

    texte-décoration : hériter;

}




hr {

    position : relative;

    marge supérieure : 27 % ;

    bordure : 1 px solide # fff ;

    rayon de la bordure : 50 px ;

    opacité : 0,15 ;

}




. content {

    position : absolue;

    haut : 0 ;

    droite : 0 ;

    bas : 0 ;

    gauche : 0 ;

    largeur : 100 % ;

    hauteur : 900 px ;
    background-size : couverture;
    background-position : bas;

    indice z : -1 ;

}




. conteneur {

    affichage : bloc;

    position : relative;

    largeur : 530 px ;

    hauteur : 679 px ;

    marge : automatique;

    margin-top : 50 px ;

    boîte-ombre : 1 px  5 px  10 px  1 px  # 333 ;

    débordement : caché;
    couleur d'arrière-plan : # DE4858 ;
    rayon de la frontière : 50 % ;
}




img . bg-img {

    affichage : bloc;

    position : absolue;

    marge : automatique;

}




. menu {

    position : relative;

    rembourrage : 15 %  13 %  0  13 % ;

}




. menu  h2 {

    affichage : en ligne;

    marge : 20 px ;

    padding-bottom : 3 px ;

    bordure inférieure : 3 px solide # 12C2E9 ;

}

a : pas (. actif ) {

    curseur : hériter;

}

. menu . active  h2 {

    bordure inférieure : 0 solide # 12C2E9 ;

    couleur : # AEAEAE ;

    transition : entrée de couleur 0,5 s ;

}




. connexion {

    position : absolue;

    rembourrage : 15 %  13 % ;

    largeur : 74 % ;

    gauche : 0 px ;

    transition : tous les 0,7 s ;


}




. connexion  h2 {

    affichage : en ligne;

    marge : 20 px ;

    padding-bottom : 3 px ;

    bordure inférieure : 2 px solide # 12C2E9 ;

}




. connexion  h4 {

    marge inférieure : 0 ;

    text-align : centre;

    couleur : # ffffff ;

    opacité : 0,3 ;

}




. connexion  h4 : hover {

    opacité : 0,8 ;

    transition : toutes les entrées de 0,1 s ;

}




label {

    affichage : bloc;

    margin-top : 0 px ;

    rembourrage : 5 px  10 px ;

    taille de la police : 15 px ;

    poids de la police : 600 ;

    couleur : # fff ;

}




entrée {

    affichage : bloc;

    largeur : 93 % ;

    marge : automatique;

    rembourrage : 13 px ;

    bordure : 0 ;

    rayon de la bordure : 20 px ;

    famille de polices : "Roboto" , sans-serif;

    opacité : 0,40 ;

}




entrée  p {

    couleur : # fff ;

    opacité : 1 ;

}




entrée . soumettre {

    largeur : 100 % ;

    rembourrage : 10 px ;

    taille de la police : 17 px ;

    poids de la police : 700 ;

    couleur : # fff ;

    opacité : 1 ;

    couleur de fond : # 12C2E9 ;

    curseur : pointeur;

}




. vérifier l'  étiquette {

    float : gauche;

    largeur : 10 % ;

    marge gauche : 5 % ;

}




. vérifier  h3 {

    rembourrage : 15 px ;

}




. case à cocher {

    affichage : aucun;

}




. case à cocher : cochée  +  svg . déplacement de chemin {

    -webkit-transition : stroke .4 s , stroke-dasharray .4 s , stroke-dashoffset .4 s
    cubique-bezier ( .3 , .8 , .6 , 1.5 );

    transition : course .4 s , course-dasharray .4 s , course-dashoffset .4 s  cubic-bezier ( .3 , .8 , .6 , 1.5 );

    AVC-dasharray : 25 ;

    stroke-dashoffset : 0 ;

}




. déplacement de chemin ,

. chemin de retour {

    remplir : aucun;

    AVC : # 856D4D ;

    largeur de trait : 3 px ;

    stroke-linecap : rond;

    stroke-linejoin : rond;

}




. déplacement de chemin {

    -webkit-transition : stroke .4 s , stroke-dasharray .4 s , stroke-dashoffset .4 s ;

    transition : course .4 s , course-dasharray .4 s , décalage de course-tiret .4 s ;

    AVC : # ffffff ;

    AVC-dasharray : 110 ;

    stroke-dashoffset : -32 ;

}

. enregistrer {

    position : absolue;

    rembourrage : 3 %  13 % ;

    largeur : 74 % ;

    à droite : 0 px ;

    transition : tous les 0,7 s ;

}

. section-active {

    position : absolue;



}

. remove-section {

    position : absolue;

    gauche : 500 px ;

}